* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.paiskonteiner {
    background-image: url('./pildid/Hills.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 778px;
    width: 100%;
    padding-top: 31.94px;
}

.pais-logo {
    height: 64px;
    width: 66.72px;
    letter-spacing: 0px;
    color: #0B0B0B;
}

.pais-nimi {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100px;
    line-height: 33px;
}

.pais-menyy {
    font-family: 'Montserrat', sans-serif;
	font-size: 16.67px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.67px;
    margin-left: auto
}

.pais-menyy ul {
    list-style-type: none;
    justify-content: flex-end;
}

.pais-menyy li {
    padding: 0px;
    margin-left: 10px;
    min-width: 100px;
}

.pais-menyy a {
    color: #0B0B0B;
}

.rida {
    color: #0B0B0B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.rida h2 {
    font-size: 39.57px;
    font-weight: 800;
}
.rida h1 {
    font-size: 74.39px;
    font-weight: 800;
}
.rida h3 {
    font-size: 20.83px;
    font-weight: 800;
}

.pealkiri-tekstid {
    padding-top: 231px;
}

.liblikas1 {
    margin-top: -32px;
    width: 77px;
    height: 66px;
}

.liblikas2 {
    height: 32px;
    width: 60px;
    display: block;
    margin-bottom: 40px;
    margin-left: -62px;
}

.uudis-konteiner {
    margin-bottom: 15px;
}

.autor {
    font-size: 0.8rem;
    color: green;
    font-weight: bold;
}