body {
    background-color: aquamarine;
}

.container {
    margin-top: 20px;
    background-color: white;
}

.kirjeldus {
    font-size: 1.3rem;
    font-weight: bolder;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
